name: GitHub Profile Summary Cards
on:
  schedule:
    - cron: "0 0 * * *" # every day
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: Druaka
          BRANCH_NAME: main
          UTC_OFFSET: 0
          AUTO_PUSH: true
          ACCESS_TOKEN: ${{ secrets.PROFILE_SUMMARY_CARDS_TOKEN }}
